<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<!--<add name="DBCS" connectionString="Data Source=.\SQLEXPRESS; Initial Catalog=VTCCData; Integrated security=true" />-->
		<add name="DBCS" connectionString="data source=localhost;integrated security=false;initial catalog=mtstsk5x_VTCCData;user id=adminvtcc;password=Pap24&g68;"/>
	</connectionStrings>
  <system.web>
    <compilation debug="false" targetFramework="4.0"/>
  </system.web>
</configuration>